# Database Configuration
DB_HOST=gondola.proxy.rlwy.net
DB_PORT=14657
DB_DATABASE=railway
DB_USERNAME=postgres
DB_PASSWORD=PvMRMFhnLeMXYKxpyAduNEAAxBPZXmHB

# Metabase Configuration
MB_ENCRYPTION_SECRET_KEY=your_encryption_key_here

# Docker Platform Configuration
# Use 'linux/amd64' for Intel/AMD processors
# Use 'linux/arm64' for Apple Silicon (M1/M2) processors
# DOCKER_PLATFORM=linux/amd64 